<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="compras">
                    <h3>CARRITO DE COMPRAS</h3>
                    <table class="listaCarrito">
                        <thead>
                            <tr>
                                <th class="colImg">Imagen</th>
                                <th class="colName">Nombre</th>
                                <th class="colCant">Cantidad</th>
                                <th class="colPrice">Precio</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">

                        </tbody>
                    </table>

                    <section id="total">
                        <h2>
                            <p>Precio total:</p>
                            <p class="precioTotal">$ --</p>
                        </h2>
                    </section>
                    <button name="botonComprar" class="botComprar">Continuar compra</button>
                </div>
            </main>
            <%- include('../partials/footer') %>
            <script src = "/js/tablaCarrito.js"></script>
    </body>

</html>