<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="compras">
                    <h3>CARRITO DE COMPRAS</h3>
                    <table class="listaCarrito">
                          <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                          </tr>
                    </table>
                   
                    <section id="total">
                        <h2>
                            <p>Precio total:</p>
                            <p class="precioTotal">$ 52.000</p>
                        </h2>
                    </section>
                    <button name="botonComprar" class="botComprar">Continuar compra</button>
                </div>
            </main>
            <%- include('../partials/footer') %>

    </body>

</html>