<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- nos piden esto?-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGATRONIX</title>
    <link rel="shortcut icon" href="/images/icono.ico"> <!-- para qué es esto? -->
    <script src="https://kit.fontawesome.com/8f0026c7cf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="/images/logoTopMegatronix.png" width="200" alt="Logo Megatronix">
        <div>
            Cuadro de Búsqueda y botón de búsqueda
        </div>
        <a href="#" class="buttonHamburger">
            <i class="fas fa-bars"></i>
        </a>
        <nav>
            <p>Lista navegación</p>
        </nav>

    </header>

    <main>
        <section id="cascada">
            Transiciones de imagenes
        </section>

        <section id="destacados">
            <h3>PRODUCTOS DESTACADOS</h3>
            <article class="producto">
                <p>Imagen del producto 1</p>
                <p class="nombre-prod">NOMBRE 1</p>
                <p class="precio">PRECIO 1</p>
            </article>
            <article class="producto">
                <p>Imagen del producto 2</p>
                <p class="nombre-prod">NOMBRE 2</p>
                <p class="precio">PRECIO 2</p>
            </article>
        </section>

        <section id="ofertas">
            <h3>OFERTAS</h3>
            <article class="producto">
                <p>Imagen del producto 1</p>
                <p class="nombre-prod">NOMBRE 1</p>
                <p class="precio">PRECIO 1</p>
            </article>
            <article class="producto">
                <p>Imagen del producto 2</p>
                <p class="nombre-prod">NOMBRE 2</p>
                <p class="precio">PRECIO 2</p>
            </article>
        </section>
    </main>

    <footer>

        <section>
            <img src="images/logoBottomMegatronix.png" width="100" alt="Logo Megatronix">
        </section>

        <section id="redes">
            <p>Redes Sociales</p>
        </section>

        <section id="contacto">
            <p>Contactos e Informacion</p>
        </section>

    </footer>
</body>

</html>