.container{
    width: 95%;
    margin: auto;
    padding-top: 10px;
}
hr {
    border: #000407 thin solid;
}
div .errores{
    color: red;
}
#login-form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.data-ingress div {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

#personal-data {
    margin: 50px;
}

#ingresar{
    width: 90%;
    height: 40px;
    background-color: rgb(53, 53, 53);
    color: #F5F7F7;
    font-size: 20px;
    margin: 20px 5% 20px 5%;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

#ingresar:hover{
    background-color: rgb(32, 32, 32);
}

.olvidar{
    margin-top: 20px;
}

#olvidar{
    text-decoration: none;
    color:blue ;
}

.olvidar{
    text-align: center;
    margin-top: 20px;
}

.data-ingress img{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
    width: 30%;
    margin-top: 30px;
}

input{
    height: 30px;
    border-radius: 8px;
}
input[placeholder]{
    padding-left: 5px;
}

.recordar{
    display:flex;
}
.recordar input{
    display: flex;
    width: 20px;
}
@media (min-width: 768px) {
    h2{
        font-size: 28px;
    }
    main{
        max-width: 600px;
        margin: auto;
        margin-bottom: 10px;
    }
    #login-form {
        font-size:18px
    }

}