h3{
    padding: 5px 0 10px 10px;
}
#barraCompras{
    display: none;
}

body main .compras section{
    margin: 10px 10px;
}
.productosCarrito{
    box-shadow: 0px 0px 11px 1px #000407;
    padding-top: 5px;
    padding-left: 2px;
}

body main section section article{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.productImg{
    width: 40vw;
    height: 40vw;
}



.botComprar{
    width: 90%;
    height: 50px;
    background-color: rgb(53, 53, 53);
    color: #F5F7F7;
    font-size: 25px;
    margin: 20px 5% 20px 5%;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.botComprar:hover{
    background-color: rgb(32, 32, 32);
}

#total h2 p{
    display: block;
}
#total h2{
    display: flex;
    margin: 20px 30px 0 20%;
    justify-content: space-between;
}

#total h2 .precioTotal{
    font-size: 25px;
}

.botEliminar{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    font-size: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: rgb(53, 53, 53);
}

.botEliminar:hover{
    color: rgb(187, 0, 0);
}

table {
    width: 95%;
    border-collapse: collapse;
    margin:auto;
}

thead{
    height: 50px;
}

.colImg{
    width: 20%;
}

.colName{
    width: 40%
}

.colCant{
    width: 20%;
}

.colPrice{
    width: 20%;
}
.imgTable{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    padding: 5px;
}
.itemCarrito{
    height: max-content;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
}
.itemCarrito:hover{
    box-shadow: 0px 0px 15px 1px #000407;
}
.priceTable{
    text-align: right;
    padding-right: 5px;
}
.priceTable i{
    margin-left: 10px;
}
.inputTable{
    text-align: center;
    width: 50px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
}

#remover:hover{
    color:rgb(143, 9, 9);
    cursor: pointer;
}

/* ---> VERSIÓN 768px */

@media (min-width: 768px){

}