#mainProduct{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
#izquierda{
    background-color: #EDB518;
    border-radius: 5px;
    padding-bottom: 10px;
    height: min-content;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 10px;
}


.categorias{
    list-style: none;
    padding-top: 5px;
}
.categorias li{
    height: 35px;
    border-bottom: solid 1px rgb(66, 66, 66);
    overflow: hidden;
}

.categorias li:hover{
    box-shadow: 0px 0px 3px 1px #383838;
}
.categorias li a{
    text-decoration: none;
    color: #000407;
    vertical-align: middle;
}

.articulosList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 768px){
    #mainProduct{
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
    }
    #izquierda{
        width: 20%;
        margin-top: 0px; 
    }
    #derecha{
        width: 78%;
    }
}