.detail {
    display: block;
    display: flex;
    flex-direction: row;
    background-color: #EDB518;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

#detail-produc {
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #EDB518;
}



#detail-img{
    padding: 10px 10px 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px; 
}

.detail img{
    width: 100%;
    box-shadow: 0px 0px 11px 1px #000407;

}
.text-description{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

#detail-description{

    padding: 30px 30px 30px 15px;
    
}

#detail-description p{
    padding-top: 10px;
}
#number{
    width: 40px;

}


@media (max-width: 768px) {
    .detail {
        display: block;
        display: flex;
        flex-direction: column;
        background-color: #EDB518;
        border-radius: 5px;
        width: 75%;
        margin: auto;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }  
}
