/* Formulario de registro */
.container{
    width: 95%;
    margin: auto;
    padding-top: 10px;
}
hr {
    border: #000407 thin solid;
}

#register-form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

#register-form .field-group {
    margin: 10px 0;
}

.field-group div {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

#personal-data, #establish-password {
    margin: 50px;
}

#send-register{
    width: 90%;
    height: 40px;
    background-color: rgb(53, 53, 53);
    color: #F5F7F7;
    font-size: 20px;
    margin: 20px 5% 20px 5%;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

#send-register:hover{
    background-color: rgb(32, 32, 32);
}

.olvidar{
    text-align: center;
    margin-top: 20px;
}

.olvidar a {
    text-decoration: none;
    color:blue ;    
}