<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    </head>

    <body>
        <%- include('./partials/header') %>
                <main>
                    <form class="main-section"  action="" method="get">
                        <h2>Agregar un Producto</h2>
                        <hr>
                        <section id="personal-data" class="field-group">
                        
                            <div>
                                <input required type="text" name="nameProduct" id="nameProduct" placeholder="Nombre del Producto">
                            </div>
                            <div>
                                <input required type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                            </div>
                            <div>
                                <input required type="number" name="precio" id="precio" placeholder="Precio">
                            </div>
                            <div>
                                <input type="file" name="avatar" accept=".jpg" multiple>
                            </div>
                            <div>
                            <select name="descuento" id="descuento">
                                <option selected value="0"> Elige un decuento </option>
                                <option value="0">Sin descuento</option> 
                                <option value="10">10 %</option> 
                               <option value="15">15 %</option> 
                               <option value="20">20 %</option>
                               <option value="25">25 %</option> 
                               <option value="30">30 %</option> 
                               <option value="35">35 %</option> 
                            </select>
                        </div>

                        </section>
                    </form>
                </main>
            <%- include('./partials/footer') %>
    </body>
</html>