<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/createProduct.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <form class="main-section" action="/products" method="post" id="section">
                    <h2>Agregar un Producto</h2>
                    <hr>
                    <section class="field-group">

                        <div>
                            <input required type="text" name="name" id="name"
                                placeholder="Nombre del Producto">
                        </div>
                        <div>
                            <input required type="text" name="description_short" id="description_short" placeholder="Breve descripcion">
                        </div>
                        <div>
                            <input required type="text" name="description_long" id="description_long" placeholder="Descripcion Completa">
                        </div>  
                        <div>
                            <input required type="number" name="price" id="price" placeholder="Precio">
                        </div>
                        <div>
                            <input type="file" name="image" id="image" accept=".jpg" multiple>
                        </div>
                        </section>
                        <section id="c-bottom">
                            <div>
                                <button id="c-register" type="submit">Registrar</button>
                            </div>
                            <div>
                                <button id="c-volver" onclick="location.href='/'" >volver</button>
                            </div>
                        </section>
                </form>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>