<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGATRONIX - Login</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/icono.ico">
    <script src="https://kit.fontawesome.com/8f0026c7cf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerMain">
            <a href="./"><img src="/images/logoTopMegatronix.png" width="200" alt="Logo Megatronix" class="logotipo"></a>
            <div class="busqueda">
                <div class="cuadroBuscar">
                    Buscar productos, marcas y más
                </div>
                <div class="iconoBuscar">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="sesion">
                <div class="carrito"><a href="./productCart"><i class="fas fa-shopping-cart"></i></a></div>
                <ul>
                    <li><a href="./register">Registrarse</a></li>
                    <li><a href="./login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="iconoHamburguesa">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="barraNavegacion">
            <ul>
                <li class="inicial"><a href="./"><i class="far fa-id-card"></i>INICIO</a></li>
                <li><a href="#"><i class="fas fa-home"></i>PRODUCTOS</a></li>
                <li><a href="#"><i class="fas fa-money-check-alt"></i>¿CÓMO COMPRAR?</a></li>
                <li class="final"><a href="#"><i class="fas fa-id-card"></i>CONTÁCTENOS</a></li>
            </ul>
        </nav>
    </header>
    <main>  
        <form class="main-section" id="register-form" action="" method="get">
            <section id="data-personal" class="data-ingress">
                <h2 id="login">Ingresar a mi cuenta</h2>
                <hr>
                <img src="/images/perfil.png" alt="Imagen de perfil">
                <div>
                    <label for="email">Correo electrónico</label>
                    <input required type="email" name="email" id="email" placeholder="Correo electrónico">
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input minlength="5" required type="password" name="password" id="password"
                        placeholder="Contraseña">
                </div>
            </section>
            <div class="olvidar"><button id="ingresar" type="submit">Entrar</button></div>
            <div class="olvidar">
                <a  id="olvidar" href="#">Olvidaste tu contraseña?</a>
            </div>

        </form>
 
    </main>
    <footer>
        <section id="centro">
            <section>
                <img src="images/logoBottomMegatronix.png" width="200" alt="Logo Megatronix" class="logotipoFooter">
            </section>
    
            <section id="redes">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-youtube"></i>
            </section>
        </section>
        <section id="informacion">
            <p>INFORMACIÓN</p>
            <ul>
                <li><a href="#">QUIENES SOMOS</a></li>
                <li><a href="#">CÓMO COMPRAR</a></li>
                <li><a href="#">ENVÍOS Y DEVOLUCIONES</a></li>
                <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
            </ul>
        </section>
        <section id="contacto">
            <p>CONTÁCTENOS</p>
            <ul>
                <li><a href="#">DIRECCIÓN</a></li>
                <li><a href="#">CIUDAD, PAÍS</a></li>
                <li><a href="#">EMAIL</a></li>
                <li><a href="#">TELÉFONO</a></li>
            </ul>
        </section>

    </footer>
</body>

</html>