<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap"
        rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>

                <section id="detail-produc">
                    <p>
                    <h3>Detalles del Producto</h3>
                    </p>
                </section>
                <section class="detail">
                    <div id="detail-img">
                        <img src="./images/sensorUltrasonico.jpg">
                    </div>
                    <div id="detail-description">
                        <p id="detail-tittle">SENSOR ULTRASONICO </p>
                        <p class="text-description">El HC-SR04 es un sensor de distancias por ultrasonidos capaz de
                            detectar
                            objetos y calcular la distancia a la que se encuentra en un rango de 2 a 450 cm. El sensor
                            funciona
                            por ultrasonidos y contiene toda la electrónica encargada de hacer la medición. </p>
                        <p id="detail-precio">
                            $ 12.000
                        </p>
                        </p>

                        <p> <label for="number">Cantidad
                                <input required type="number" name="number" id="number" placeholder="1">
                            </label>
                        <p id="car">
                            <a href="./productCart">Añadir al carrito</a>
                        </p>

                    </div>
                </section>
                <section>
                    <a href="#" class="iconoHamburguesa2">
                        <i class="fas fa-bars"></i>
                    </a>
                    <nav class="menu-produc">
                        <ul>
                            <li><a href="#">Descripción</a></li>
                            <li><a href="#">Destalles</a></li>
                            <li><a href="#">Comentarios</a></li>
                        </ul>
                    </nav>
                </section>
                <section id="section-description">
                    <p class="text-description">
                        El sensor HC-SR04 posee dos transductores: un emisor y un receptor piezoeléctricos, además de la
                        electrónica necesaria para su operación. El funcionamiento del sensor es el siguiente: el emisor
                        piezoeléctrico emite 8 pulsos de ultrasonido(40KHz) luego de recibir la orden en el pin TRIG,
                        las ondas
                        de sonido viajan en el aire y rebotan al encontrar un objeto, el sonido de rebote es detectado
                        por el
                        receptor piezoeléctrico, luego el pin ECHO cambia a Alto (5V) por un tiempo igual al que demoró
                        la onda
                        desde que fue emitida hasta que fue detectada, el tiempo del pulso ECO es medido por el
                        microcontrolador
                        y asi se puede calcular la distancia al objeto. El funcionamiento del sensor no se ve afectado
                        por la
                        luz solar o material de color negro (aunque los materiales blandos acusticamente como tela o
                        lana pueden
                        llegar a ser difíciles de detectar).
                    </p>
                </section>


                <section id="destacados" class="main-section">
                    <h3>PRODUCTOS DESTACADOS</h3>
                    <div class="articulos">
                        <article>
                            <img src="./images/arduinoUno.jpg" class="productImg">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="nombre">ARDUINO UNO</p>
                            <p class="precio">$ 37.000</p>
                        </article>
                        <article>
                            <img src="./images/displayOled.jpg" class="productImg">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="nombre">Display Oled</p>
                            <p class="precio">$ 15.000</p>
                        </article>
                        <article>
                            <img src="./images/sensorUltrasonico.jpg" class="productImg">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="nombre">SENSOR ULTRASONICO</p>
                            <p class="precio">$ 12.000</p>
                        </article>
                        <article>
                            <img src="./images/servomotor.jpg" class="productImg">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="nombre">SERVOMOTOR</p>
                            <p class="precio">$ 25.000</p>
                        </article>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>