<ul class="categorias">
    <li class="itemCat"><a href="#">Sensores</li></a>
    <li class="itemCat"><a href="#">Sistemas Embebidos</a></li>
    <li class="itemCat"><a href="#">Audio y Sonido</a></li>
    <li class="itemCat"><a href="#">Conectores</a></li>
    <li class="itemCat"><a href="#">Baterías y Fuentes de Poder</a></li>
    <li class="itemCat"><a href="#">Conectores</a></li>
    <li class="itemCat"><a href="#">Prototipado</a></li>
    <li class="itemCat"><a href="#">Comunicaciones</a></li>
    <li class="itemCat"><a href="#">Módulos</a></li>
    <li class="itemCat"><a href="#">Accesorios</a></li>
</ul>