<section id="destacados" class="main-section">
    <h3>PRODUCTOS DESTACADOS</h3>
    <div class="articulos">

    <% for (let j = 0; j < destacados.length; j++) { %>
        <article>
            <a href="/products/<%= destacados[j].id %>">
                <img src="/images/products/<%= destacados[j].image %>" class="productImg">
            </a>
            <i id= "addCarrito" class="fas fa-shopping-cart"></i>
            <p class="nombre"><%= destacados[j].name %></p>
            <p class="precio">$ <%= destacados[j].price %></p>
        </article>
    <% }; %>

    </div>
</section>