<section id="destacados" class="main-section">
    <h3>PRODUCTOS DESTACADOS</h3>
    <div class="articulos">
        <article>
            <img src="./images/arduinoUno.jpg" class="productImg">
            <i class="fas fa-shopping-cart"></i>
            <p class="nombre">ARDUINO UNO</p>
            <p class="precio">$ 37.000</p>
        </article>
        <article>
            <img src="./images/displayOled.jpg" class="productImg">
            <i class="fas fa-shopping-cart"></i>
            <p class="nombre">Display Oled</p>
            <p class="precio">$ 15.000</p>
        </article>
        <article>
            <img src="./images/sensorUltrasonico.jpg" class="productImg">
            <i class="fas fa-shopping-cart"></i>
            <p class="nombre">SENSOR ULTRASONICO</p>
            <p class="precio">$ 12.000</p>
        </article>
        <article>
            <img src="./images/servomotor.jpg" class="productImg">
            <i class="fas fa-shopping-cart"></i>
            <p class="nombre">SERVOMOTOR</p>
            <p class="precio">$ 25.000</p>
        </article>
    </div>
</section>