<footer>
    <section id="centro">
        <section>
            <img src="images/logoBottomMegatronix.png" width="200" alt="Logo Megatronix" class="logotipoFooter">
        </section>

        <section id="redes">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-youtube"></i>
        </section>
    </section>
    <section id="informacion">
        <p>INFORMACIÓN</p>
        <ul>
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">CÓMO COMPRAR</a></li>
            <li><a href="#">ENVÍOS Y DEVOLUCIONES</a></li>
            <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
        </ul>
    </section>
    <section id="contacto">
        <p>CONTÁCTENOS</p>
        <ul>
            <li><a href="#">DIRECCIÓN</a></li>
            <li><a href="#">CIUDAD, PAÍS</a></li>
            <li><a href="#">EMAIL</a></li>
            <li><a href="#">TELÉFONO</a></li>
        </ul>
    </section>

</footer>