<header>
    <div class="headerMain">
        <a href="./"><img src="/images/logoTopMegatronix.png" width="200" alt="Logo Megatronix" class="logotipo"></a>
        <div class="busqueda">
            <div class="cuadroBuscar">
                Buscar productos, marcas y más
            </div>
            <div class="iconoBuscar">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="sesion">
            <div class="carrito"><a href="./productCart"><i class="fas fa-shopping-cart"></i></a></div>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
    <a href="#" class="iconoHamburguesa">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="barraNavegacion">
        <ul>
            <li class="inicial"><a href="./"><i class="far fa-id-card"></i>INICIO</a></li>
            <li><a href="/products"><i class="fas fa-home"></i>PRODUCTOS</a></li>
            <li><a href="#"><i class="fas fa-money-check-alt"></i>¿CÓMO COMPRAR?</a></li>
            <li class="final"><a href="#"><i class="fas fa-id-card"></i>CONTÁCTENOS</a></li>
        </ul>
    </nav>
</header>