<section id="ofertas" class="main-section">
    <h3>PRODUCTOS EN OFERTA</h3>
    <div class="articulos">

    <% for (let j = 0; j < ofertas.length; j++) { %>
        <article>
            <a href="/products/<%= ofertas[j].id %>">
                <img src="/images/products/<%= ofertas[j].image %>" class="productImg">
            </a>
            <i class="fas fa-shopping-cart"></i>
            <p class="nombre"><%= ofertas[j].name %></p>
            <p class="precio">$ <%= ofertas[j].price %></p>
        </article>
    <% }; %>
    </div>
</section>